<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EBT - front-page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
</head>

<body>
    {% include header-nav.html %}

    <!-- The main thing-->
    <section class="main-section">
        <div class="info-box">
            <h1>Hi, I am Westley Lo, I go by Expressionless-Ball-Thing (EBT) on the internet.</h1>
            <h2>This is my personal page.</h2>
            <br>
            <h3>Currently doing an Advanced Science/Computer Science double degree at UNSW.</h3>
            <br>
            <p>Stuff on this website:</p>
            <ul>
                <li>Check out some <a href="projects">projects</a> I am working on.</li>
                <li>or go to the <a href="blog">blogs</a> to hear me ramble on tech and non-tech stuff.</li>
            </ul>
            <p>More:</p>
            <ul>
                <li><a href="https://github.com/Expressionless-Ball-Thing">Github</a></li>
            </ul>
        </div>
    </section>

    <script src="" async defer></script>
</body>

</html>