<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EBT - projects</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
</head>

<body>
    {% include header-nav.html %}
    <!-- The main thing-->
    <section class="project-table">
        {% for project in site.posts %}
            {% if project.path contains "projects" %}
            <div class="project-item">
                <a href="{{project.url}}" style="text-decoration: none; color:black">
                <div class="project-contents">
                    <div class="project-img"><img src="assets/images/{{project.identifier}}.png" alt="Project Image goes here"></div>
                    <div class="project-text">
                        <h2 class="project-text-title">{{project.title}}</h2>
                        <p class="project-text-description">{{project.description}}</p>
                    </div>
                </div>
                </a>
            </div>
            {% endif %}
        {% endfor %}





    </section>


    <script src="" async defer></script>
</body>

</html>